<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>精选路线</title>
    <link rel="icon" type="image/x-icon" href="./images/logo.png"/>
    <script src="./js/jquery-3.1.0.min.js"></script>
    <script src="./js/move.js"></script>
    <script src="./js/addEvent.js"></script>
    <link rel="stylesheet" href="./css/main.css" type="text/css">
    <link rel="stylesheet" href="./css/route.css" type="text/css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/3.0.0/css/font-awesome.min.css">
</head>
<body>

    <div class="head w">
        <div class="head-left">
        </div>
        <div class="head-center">
        </div>
        <div class="head-right">
            <p><span class="icon-phone" style="color: orange;"></span> 全国客服电话</p>
            <p>400-004-8888</p>
            <div class="head-right-login">
                <a href="login.html" class="head-right-login-a-1">请登录<span>|</span></a>
                <a href="zc.html" class="head-right-login-a-2">免费注册</a>
            </div>
        </div>
    </div>

<div class="banner">
    <div class="banner-top">
        <div class="banner-top-center w">
            <ul class="clearfix" id="banner-top-center-ul">
                <li><a href="./index.html">首页</a></li>
                <li class="permanent"><a href="./route.html">精选路线</a></li>
                <li><a href="./strategy.html">旅游攻略</a></li>
                <li><a href="./travel-note.html">驴友游记</a></li>
                <li class="banner-top-center-ul-li-5">
                    <a href="#">关于我们</a>
                    <div class="sub-menu" id="sub-menu-id">
                        <div><a href="./present.html">公司介绍</a></div>
                        <div><a href="./contact.html">联系我们</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="banner-img">
        <img src="./images/route/banner.jpg" alt="">
    </div>
</div>



<div class="road w abroad ">
    <div class="road-head">
        出境游 / <span>Domestic</span>
        <p class="road-head-center"></p>
    </div>

    <div class="road-items clearfix" id="box">
        <div v-for='a in myRoute' class="road-item" >
            <a href=""><img v-bind:src="a.pic_url" alt=""></a>
            <div class="road-item-con">
                <h3><a href="#">{{a.title}}</a></h3>
                <p>
                    {{a.price}}
                </p>
            </div>
        </div>

    <script src="js/vue.min.js"></script>
    <script>
        let myRoute;
        $(document).ready(function(){
          $.ajax({
            url: "https://www.fastmock.site/mock/b10a4ba221b5816b9c9de514e6f21bd5/bengda/Route",
            method: "post",
            dataType: "json",
            success: function(data){
              if(data){
                myRoute = data.body.list;
                new Vue({
                  el: "#box",
                  data: {
                    myRoute: data.body.list,
                  },
                });
              }
            },
            error: function(){},
          });
        });
    </script>

    </div>
</div>

<div class="road w domestic">
    <div class="road-head">
        国内游 / <span>Abroad</span>
        <p class="road-head-center"></p>
    </div>

    <div class="road-items clearfix" id="box1">
        <div v-for='v in myRoute1' class="road-item">
            <a href=""><img v-bind:src="v.pic_url" alt=""></a>
            <div class="road-item-con">
                <h3><a href="#">{{v.title}}</a></h3>
                <p>
                    {{v.price}} 
                </p>
            </div>
        </div>

    <script src="js/vue.min.js"></script>
    <script>
        let myRoute1;
        $(document).ready(function(){
          $.ajax({
            url: "https://www.fastmock.site/mock/b10a4ba221b5816b9c9de514e6f21bd5/bengda/Route1",
            method: "post",
            dataType: "json",
            success: function(data){
              if(data){
                    myRoute1 = data.body.list1;
                new Vue({
                  el: "#box1",
                  data: {
                        myRoute1: data.body.list1,
                  },
                });
              }
            },
            error: function(){},
          });
        });
    </script>

    </div>

</div>


<div class="road w surround ">
    <div class="road-head">
        周边游 / <span>Surrounding</span>
        <p class="road-head-center"></p>
    </div>
    <div class="road-items clearfix" id="box2">
        <div v-for='o in myRoute2' class="road-item">
            <a href=""><img v-bind:src="o.pic_url" alt=""></a>
            <div class="road-item-con">
                <h3><a href="#">{{o.title}}</a></h3>
                <p>
                    {{o.price}} 
                </p>
            </div>
        </div>

    <script src="js/vue.min.js"></script>
    <script>
        let mydata2;
        $(document).ready(function(){
          $.ajax({
            url: "https://www.fastmock.site/mock/b10a4ba221b5816b9c9de514e6f21bd5/bengda/Route2",
            method: "post",
            dataType: "json",
            success: function(data){
              if(data){
                    myRoute2 = data.body.list2;
                new Vue({
                  el: "#box2",
                  data: {
                        myRoute2: data.body.list2,
                  },
                });
              }
            },
            error: function(){},
          });
        });
    </script>

    </div>
</div>

<div class="foot">
    <div class="foot-bottom">
        <div class="foot-bottom-one">
            <span></span>
        </div>
        <div class="foot-bottom-two">
            <p><span>Bengda</span> Design</p>
            <p>
                欢迎来到我们的网站，找到你喜欢的旅程！祝你有一个美好的旅途
            </p>
        </div>
        <div class="foot-bottom-three">
            <span></span>
        </div>
        <div class="foot-bottom-four">
            <p>
                <a href="#">首页</a>
                <a href="#">关于我们</a>
                <a href="#">联系我们</a>
            </p>
            <p>©2016 个人展示 版权所有</p>
            <p>
                <a href="#">手机版</a> |
                <a href="#">本站由蹦达建站搭建</a> |
                <a href="#">管理登录</a>
            </p>
        </div>
    </div>
</div>


<script>
    window.onload = function (e) {
        /*
         * 导航栏的移动
         * */
        (function(){
            var navUl = document.getElementById("banner-top-center-ul");
            var navLis = navUl.getElementsByTagName("li");

            navUl.onmouseout = function (e) {
                for(var j = 0; j < navLis.length; j++){
                    navLis[j].classList.remove("current");
                }
            };

            for (var i = 0; i < navLis.length; i++) {
                navLis[i].onmouseover = function (event) {
                    for(var j = 0; j < navLis.length; j++){
                        navLis[j].classList.remove("current");
                    }
                    this.classList.add("current");
                }
            }

            var subMenu = document.getElementById("sub-menu-id");
            for (var i = 0; i < subMenu.children.length; i++){
                subMenu.children[i].onmouseover = function (e) {
                    for(var j = 0; j < subMenu.children.length; j++){
                        subMenu.children[j].classList.remove("current");
                    }
                    this.classList.add("current");
                };
            }
        })();
    };
</script>
</body>
</html>
