<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="./images/logo.png"/>
    <script src="./js/jquery-3.1.0.min.js"></script>
    <script src="./js/move.js"></script>
    <script src="./js/addEvent.js"></script>
    <link rel="stylesheet" href="./css/main.css" type="text/css">
    <link rel="stylesheet" href="./css/travel-note.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/strategy.css"/>
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/3.0.0/css/font-awesome.min.css">
    <title>旅游攻略</title>
</head>
<body>
    <div class="head w">
    <div class="head-left"></div>
    <div class="head-center">
    </div>
    <div class="head-right">
        <p><span class="icon-phone" style="color: orange;"></span> 全国客服电话</p>
        <p>400-004-8888</p>
        <div class="head-right-login">
            <a href="login.html" class="head-right-login-a-1">请登录<span>|</span></a>
            <a href="zc.html" class="head-right-login-a-2">免费注册</a>
        </div>
    </div>
</div>

<div class="banner">
    <div class="banner-top">
        <div class="banner-top-center w">
            <ul class="clearfix" id="banner-top-center-ul">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./route.html">精选路线</a></li>
                <li class="permanent"><a href="./strategy.html">旅游攻略</a></li>
                <li><a href="./travel-note.html">驴友游记</a></li>
                <li class="banner-top-center-ul-li-5">
                    <a href="#">关于我们</a>
                    <div class="sub-menu" id="sub-menu-id">
                        <div><a href="./present.html">公司介绍</a></div>
                        <div><a href="./contact.html">联系我们</a></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="btl_box">
	<div class="bottomxx">
		<h4>热门攻略</h4>
		<p>POPULAR STRATEGY</p>
		<span>more</span>
	</div>
</div>
<!--标题-->
<!--攻略栏目一-->
<div class="gllm1">
    <ul>
        <li>
            <input type="radio" name="cheg" id="catvi1" checked><label for="catvi1">房源</label>
            <div class="fyspq" id="fff">
            	<div class="lb_sp" v-for='v in mydata'>
            		<img v-bind:src="v.pic_url" />
            		<p class="ln_clo">{{v.title}}</p>
            		<p class="ln_wzc">{{v.price}}</p>
            	</div>
            </div>
        </li>

		<script src="js/vue.min.js"></script>
			<script>
				let mydata;
			    $(document).ready(function () {
			      $.ajax({
			        url: "https://www.fastmock.site/mock/b10a4ba221b5816b9c9de514e6f21bd5/bengda/Lntroduction",
			        method: "post",
			        dataType: "json",
			        success: function (data) {
			          if (data) {
			            mydata = data.body.Listing;
			            new Vue({
			              el: "#fff",
			              data: {
			                mydata: data.body.Listing,
			              },
			            });
			          }
			        },
			        error: function () {},
			      });
			    });
			</script>

        <li>
            <input type="radio" name="cheg" id="catvi2"><label for="catvi2">景点</label>
            <div class="fyspq" id="aaa">
            	<div class="lb_sp" v-for='a in mydata1'>
            		<img v-bind:src="a.pic_url" />
            		<p class="ln_clo">{{a.title}}</p>
            		<p class="ln_wzc">{{a.price}}</p>
            	</div>
            </div>
        </li>

		<script src="js/vue.min.js"></script>
			<script>
				let mydata1;
			    $(document).ready(function () {
			      $.ajax({
			        url: "https://www.fastmock.site/mock/b10a4ba221b5816b9c9de514e6f21bd5/bengda/Lntroduction1",
			        method: "post",
			        dataType: "json",
			        success: function (data) {
			          if (data) {
			            mydata1 = data.body.Listspots;
			            new Vue({
			              el: "#aaa",
			              data: {
			                mydata1: data.body.Listspots,
			              },
			            });
			          }
			        },
			        error: function () {},
			      });
			    });
			</script>

        <li>
            <input type="radio" name="cheg" id="catvi3"><label for="catvi3">美食</label>
            <div class="fyspq" id="bbb">
            	<div class="lb_sp" v-for='b in mydata2'>
            		<img v-bind:src="b.pic_url" />
            		<p class="ln_clo">{{b.title}}</p>
            		<p class="ln_wzc">{{b.price}}</p>
            	</div>
            </div>
        </li>
		<script src="js/vue.min.js"></script>
			<script>
				let mydata2;
			    $(document).ready(function () {
			      $.ajax({
			        url: "https://www.fastmock.site/mock/b10a4ba221b5816b9c9de514e6f21bd5/bengda/Lntroduction2",
			        method: "post",
			        dataType: "json",
			        success: function (data) {
			          if (data) {
			            mydata2 = data.body.Gourmetlist;
			            new Vue({
			              el: "#bbb",
			              data: {
			                mydata2: data.body.Gourmetlist,
			              },
			            });
			          }
			        },
			        error: function () {},
			      });
			    });
			</script>
    </ul>
</div>

<!--攻略栏目二-->
<!--标题-->
<div class="btl_box">
	<div class="bottomxx">
		<h4>推荐游记</h4>
		<p>RECOMMENDED TRAVELS</p>
		<span>more</span>
	</div>
</div>
<!--标题-->
<!--攻略栏目三-->
<div class="last_yj mid" id="ccc">
	<div class="yj_box" v-for="c in mydata3">
		<img v-bind:src="c.pic_url"/>
		<p class="yjlb_top">{{c.title}}</p>
		<p class="yjlb_bottom">{{c.price}}</p>
		<a class="yjlb_left"><span>{{c.author}}</span></a>
		<a class="yjlb_right"><span>{{c.number}}</span></a>
	</div>
</div>

	<script src="js/vue.min.js"></script>
	<script>
		    let mydata3;
		    $(document).ready(function () {
		      $.ajax({
		        url: "https://www.fastmock.site/mock/b10a4ba221b5816b9c9de514e6f21bd5/bengda/Lntroduction3",
		        method: "post",
		        dataType: "json",
		        success: function (data) {
		          if (data) {
		            mydata3 = data.body.Travellist;
		            new Vue({
		              el: "#ccc",
		              data: {
		                mydata3: data.body.Travellist,
		              },
		            });
		          }
		        },
		        error: function () {},
		      });
		    });
	</script>

<div class="foot">
    <div class="foot-bottom">
        <div class="foot-bottom-one">
            <span></span>
        </div>
        <div class="foot-bottom-two">
            <p><span>Bengda</span> Design</p>
            <p>
                欢迎来到我们的网站，找到你喜欢的旅程！祝你有一个美好的旅途
            </p>
        </div>
        <div class="foot-bottom-three">
            <span></span>
        </div>
        <div class="foot-bottom-four">
            <p>
                <a href="#">首页</a>
                <a href="#">关于我们</a>
                <a href="#">联系我们</a>
            </p>
            <p>©2016 个人展示 版权所有</p>
            <p>
                <a href="#">手机版</a> |
                <a href="#">本站由蹦达建站搭建</a> |
                <a href="#">管理登录</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>
